# TMDb API v4 Read Access Token
# Get yours from https://www.themoviedb.org/settings/api
TMDB_V4_TOKEN="YOUR_TMDB_V4_TOKEN_HERE"

# Path to your media library containing 'Movies' and 'TV-Shows'
MEDIA_LIBRARY_DIR="/path/to/your/Entertainment"
